<footer class="footer">
  <div class="row">
    <div class="small-4 small-centered columns">
      <small>
        <a href="https://www.twitter.com/kennyevil">Angry Dome</a>
        by Chris Gannon
      </small>
    </div>
  </div>
</footer>
