<footer class="footer">
  <div class="row">
    <div class="small-4 small-centered columns">
      <h5 class="h5footer">
        <a href="http://angrydome.herokuapp.com">Angry Dome</a>
        by Chris Gannon
      </h5>
    </div>
  </div>
</footer>
