<h6>Stuff what interests me</h6>
  <ul>
    <li><a href="http://www.ijustwantabloodycoffee.com">I Just want a bloody coffee!</a></li>
    <li><a href="http://www.tomforth.co.uk/guardiancomments/">Guardian Comment Generator</a></li>
  </ul>
